@use '@/app/system.scss' as *;

.modalContainer {
	pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;

	@include transition-normal;
	opacity: 0;

	&.open {
		pointer-events: auto;
		opacity: 1;
	}
}

.modal {
	@include transition-normal;
	transform: scale(0.8);

	&.open {
		transform: scale(1);
	}
}