@use '@/app/system.scss' as *;

.card {
	width: 100%;
	padding: 24px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;

	border: 1px solid rgba(128, 128, 128, 0.1);
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);

	@media screen and (max-width: 500px) {
		padding: 18px;
		gap: 10px;
	}

	@media screen and (max-width: 375px) {
		padding: 14px;
		gap: 8px;
	}
}

.skeletonCard {
	width: 100%;
	animation: pulse 2s infinite;
	@include pulse-animation;
}

.captionCard {
	flex-direction: column-reverse;
	gap: 18px;

	@media screen and (max-width: 500px) {
		gap: 10px;
	}

	@media screen and (max-width: 375px) {
		gap: 8px;
	}
}

.tapeCard {
	margin-top: 24px;
	position: relative;

	&:first-child {
		margin-top: 0;
	}

	&>.tape {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, -35%);

		@media (max-width: 500px) {
			transform: translate(-50%, -40%);
		}

		&>img {
			width: auto;
			height: 36px !important;

			@media (max-width: 500px) {
				height: 28px !important;
			}

			@media (max-width: 375px) {
				height: 18px !important;
			}
		}
	}
}

.growOnHover {
	transition: transform 0.2s ease-in-out;

	&:hover {
		transform: scale(1.02);
	}
}

.tiltOnHover {
	transition: transform 0.2s ease-in-out;

	&:hover {
		transform: rotate(var(--hover-rotation));
	}
}

.title,
.titleWithDate {
	width: 100%;

	&>h3 {
		color: $neutral-800;
		text-align: center;
		font-family: $figtree;
		font-size: 24px;
		font-weight: 700;
		line-height: normal;

		@media screen and (max-width: 500px) {
			font-size: 20px;
		}

		@media screen and (max-width: 375px) {
			font-size: 16px;
		}
	}
}

.titleWithDate {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&>span {
		color: $neutral-700;
		font-family: $figtree;
		font-size: 14px;
		font-weight: 700;
		line-height: normal;

		@media screen and (max-width: 375px) {
			font-size: 12px;
		}
	}
}

.description {
	width: 100%;
	color: $neutral-800;
	font-family: $figtree;
	font-size: 16px;
	font-weight: 400;
	line-height: 150%;

	@media screen and (max-width: 375px) {
		font-size: 14px;
	}
}

.imageContainer {
	width: 100%;

	&>img {
		border-radius: 10px;
	}
}

.cardColor0 {
	background-color: $card-0;
}

.cardColor1 {
	background-color: $card-1;
}

.cardColor2 {
	background-color: $card-2;
}

.cardColor3 {
	background-color: $card-3;
}

.cardColor4 {
	background-color: $card-4;
}

.cardColor5 {
	background-color: $card-5;
}

.cardColor6 {
	background-color: $card-6;
}

.cardColor7 {
	background-color: $card-7;
}

.cardColor8 {
	background-color: $card-8;
}