@use '@/app/system.scss' as *;

.page {
	min-height: 100vh;
	@include grid-background;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 36px 0;

	&.landing {
		padding: 64px 0;
		max-height: 100vh;
	}
}