$paper: #FBFBF9;

$neutral-50: #FFFFFF;
$neutral-100: #FDFDFD;
$neutral-200: #FBFBF9;
$neutral-600: #A9A9A9;
$neutral-700: #808080;
$neutral-800: #555555;
$neutral-900: #4C4C4C;
$neutral-950: #000000;

$figtree: 'Figtree', sans-serif;