$paper: #FBFBF9;

$neutral-50: #FFFFFF;
$neutral-100: #FDFDFD;
$neutral-200: #FBFBF9;
$neutral-600: #A9A9A9;
$neutral-700: #808080;
$neutral-800: #555555;
$neutral-900: #4C4C4C;
$neutral-950: #000000;

$figtree: 'Figtree', sans-serif;

// Cards
$card-0: #F5F6EC;
$card-1: #FBF7ED;
$card-2: #EFF5F3;
$card-3: #EDF4F7;
$card-4: #FAF3EC;
$card-5: #F9EEF3;
$card-6: #F3EFF7;
$card-7: #FFF7F7;
$card-8: #F0F9F4;