$paper: #FBFBF9;

$neutral-50: #FFFFFF;
$neutral-100: #FDFDFD;
$neutral-200: #EFE6E6;
$neutral-300: #E0D5D5;
$neutral-400: #C0B3B3;
$neutral-500: #ABA0A0;
$neutral-600: #8F8888;
$neutral-700: #665B5B;
$neutral-800: #483D3D;
$neutral-900: #262121;
$neutral-950: #000000;

$figtree: 'Figtree', sans-serif;

// Cards
$card-0: #F5F6EC;
$card-1: #FBF7ED;
$card-2: #EFF5F3;
$card-3: #EDF4F7;
$card-4: #FAF3EC;
$card-5: #F9EEF3;
$card-6: #F3EFF7;
$card-7: #FFF7F7;
$card-8: #F0F9F4;