$paper: #FBFBF9;

$neutral-50: #FFFFFF;
$neutral-100: #FDFDFD;
$neutral-200: #FBFBF9;
$neutral-300: #EBEBE9;
$neutral-400: #CECECE;
$neutral-500: #A9A9A9;
$neutral-600: #808080;
$neutral-700: #666666;
$neutral-800: #555555;
$neutral-900: #4C4C4C;
$neutral-950: #000000;

$primary-500: #FBD5EA;
$primary-700: #F5A0D0;

$success-500: #A5D06A;
$success-700: #6A9A3C;

$warning-500: #FCE7B2;
$warning-700: #FFBE55;

$error-500: #F4B1B1;
$error-700: #DC6B6B;

$info-500: #B6D8F6;
$info-700: #6CAEE0;

$figtree: 'Figtree', sans-serif;

// Cards
$card-0: #F5F6EC;
$card-1: #FBF7ED;
$card-2: #EFF5F3;
$card-3: #EDF4F7;
$card-4: #FAF3EC;
$card-5: #F9EEF3;
$card-6: #F3EFF7;
$card-7: #FFF7F7;
$card-8: #F0F9F4;

@mixin pulse-animation($start-color: $neutral-200, $mid-color: $neutral-300, $duration: 1.5s) {
	@keyframes pulse {
		0% {
			background-color: $start-color;
		}

		50% {
			background-color: $mid-color;
		}

		100% {
			background-color: $start-color;
		}
	}
}

@mixin grid-background {
	background-color: $neutral-200;
	background-image: radial-gradient(circle, rgba($neutral-700, 0.25), transparent 2px);
	background-size: 36px 36px;
}

@mixin transition-normal {
	transition: all 0.1s ease-in-out;
}

@mixin simple-scrollbar {
	scrollbar-width: 16px;
	scrollbar-color: rgba($neutral-900, 0.2) transparent;

	// WebKit
	&::-webkit-scrollbar {
		width: 16px;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: rgba($neutral-900, 0.2);
		border-radius: 100px;
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: rgba($neutral-900, 0.3);
	}
}