@use '@/app/system.scss' as *;

.page {
	background-color: $paper;
	background-image: radial-gradient(circle, rgba($neutral-700, 0.25), transparent 2px);
	background-size: 36px 36px;

	min-height: 100vh;

	display: flex;
	justify-content: center;
}

.container {
	margin: 48px 0;
	width: fit-content;
}

.header {
	margin-bottom: 48px;

	&>.date {
		color: $neutral-600;
		font-size: 18px;
		font-weight: 700;
		line-height: normal;
	}

	&>.title {
		color: $neutral-900;
		font-size: 48px;
		font-weight: 400;
		line-height: normal;

		&>b {
			font-weight: 700;
		}
	}
}

.entries {
	display: flex;
	gap: 24px;
	width: fit-content;
}

.entryColumn {
	background-clip: padding-box;
	width: 432px !important;

	&>* {
		margin-bottom: 24px; // gap between cards
	}
}

.footer {
	margin-top: 48px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
}

.createLink {
	padding: 10px 24px;
	border-radius: 10px;
	border: 1px solid rgba($neutral-700, 0.1);
	background-color: $neutral-800;
	text-decoration: none;

	color: $neutral-100;
	font-size: 21px;
	font-weight: 700;
	line-height: normal;

	transition: background-color 0.1s ease-in-out;

	&:hover {
		background-color: $neutral-700;
	}
}