@use '@/app/system.scss' as *;

.page {
	background-color: $paper;
	background-image: radial-gradient(circle, rgba($neutral-700, 0.25), transparent 2px);
	background-size: 36px 36px;

	min-height: 100vh;

	display: flex;
	justify-content: center;
}

.container {
	margin: 48px 0;
	width: fit-content;
}

.header {
	margin-bottom: 48px;
	display: flex;
	flex-direction: column;
	gap: 10px;

	&>.date {
		color: $neutral-500;
		font-size: 14px;
		font-weight: 700;
		line-height: normal;
	}

	&>.title {
		color: $neutral-900;
		font-size: 48px;
		font-weight: 400;
		line-height: normal;

		&>b {
			font-weight: 700;
		}
	}

	@media screen and (max-width: 1000px) {
		text-align: center;

		&>.title {
			font-size: 36px;
		}
	}

	@media screen and (max-width: 500px) {
		text-align: left;
		gap: 8px;
		margin-bottom: 24px;

		&>.title {
			font-size: 28px;
		}
	}

	@media screen and (max-width: 375px) {
		&>.date {
			font-size: 12px;
		}

		&>.title {
			font-size: 24px;
		}
	}
}

.entries {
	display: flex;
	gap: 24px;
	width: fit-content;
}

.entryColumn {
	background-clip: padding-box;
	width: 432px !important;

	&>* {
		margin-bottom: 24px; // gap between cards
	}

	@media screen and (max-width: 500px) {
		width: 100% !important;
	}
}

.footer {
	margin-top: 48px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
}

.createLink {
	padding: 10px 24px;
	border-radius: 10px;
	border: 1px solid rgba($neutral-700, 0.1);
	background-color: $neutral-800;
	text-decoration: none;

	color: $neutral-100;
	font-size: 21px;
	font-weight: 700;
	line-height: normal;

	transition: background-color 0.1s ease-in-out;

	&:hover {
		background-color: $neutral-700;
	}

	@media screen and (max-width: 500px) {
		width: 100%;
		text-align: center;
	}

	@media screen and (max-width: 375px) {
		font-size: 16px;
	}
}

.headerLogo {
	display: none;

	@media screen and (max-width: 500px) {
		display: block;
		margin-bottom: 24px;
	}
}

.headerLogo,
.footerLogo {
	position: relative;
	width: 153px;
	height: 32px;

	@media screen and (max-width: 375px) {
		width: 115px;
		height: 24px;
	}

	&>img {
		object-fit: contain;
	}
}

.summaryContainer {
	display: flex;
	height: 100%;
	align-items: center;
}

.summary {
	width: fit-content;
	max-width: calc(100vw - 48px);
	display: flex;
	flex-direction: column;
	gap: 54px;

	@media screen and (max-width: 500px) {
		gap: 36px;
	}
}

.summaryLogo {
	position: relative;
	width: 153px;
	height: 32px;

	@media screen and (max-width: 500px) {
		width: 115px;
		height: 24px;
	}

	&>img {
		object-fit: contain;
	}
}

.summaryTitle {
	display: flex;
	flex-direction: column;
	gap: 12px;

	&>.date {
		color: $neutral-500;
		font-size: 14px;
		font-weight: 700;
		line-height: normal;
	}

	&>.title {
		color: $neutral-900;
		font-size: 42px;
		font-weight: 400;
		line-height: normal;

		&>b {
			font-weight: 700;
		}

		@media screen and (max-width: 500px) {
			font-size: 32px;
		}
	}
}

.summaryNextButton {
	padding: 8px 24px;
	border-radius: 10px;
	border: 1px solid rgba($neutral-700, 0.1);
	background: $neutral-800;

	color: $neutral-50;
	text-shadow: 0px 3px 4px rgba($neutral-950, 0.05);
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;

	cursor: pointer;

	transition: background-color 0.1s ease-in-out;

	&:hover {
		background-color: $neutral-700;
	}
}

.postcardContainer {
	@media screen and (max-width: 1000px) {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	@media screen and (max-width: 500px) {
		display: block;
		width: 100%;
		max-width: calc(100vw - 48px);
	}
}

.scrollTopFab {
	position: fixed;
	bottom: 24px;
	right: 24px;
	opacity: 0;
	transition: opacity 0.1s ease-in-out;


	&>button {
		border: none;
		background-color: $neutral-500;
		border-radius: 20px;
		cursor: pointer;
		transition: all 0.2s ease-in-out;

		&:active {
			background-color: $neutral-600;
			border-radius: 22px;
			transform: scale(0.95);
		}
	}
}

.fullOpacity {
	opacity: 1;
}

.scrollTopButton {
	display: flex;
	align-items: center;
	gap: 12px;
	background: none;
	border: none;
	cursor: pointer;
	font-size: 16px;
	font-weight: 500;
	line-height: normal;

	&:active>.scrollTopIcon {
		background-color: $neutral-600;
		border-radius: 10px;
		transform: scale(0.95);
	}
}

.scrollTopIcon {
	position: relative;
	width: 28px;
	height: 28px;
	background-color: $neutral-500;
	border-radius: 10px;
	transition: all 0.2s ease-in-out;

	&>img {
		object-fit: contain;
	}

	@media screen and (max-width: 500px) {
		width: 24px;
		height: 24px;
	}
}