@use '@/app/system.scss' as *;

.container {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	gap: 20px;
}

.folderButton {
	background: none;
	border: none;
	cursor: pointer;
	position: relative;
	height: 200px;
	@include no-drag;

	>* {
		@include no-drag;
	}

	>.folder {
		backdrop-filter: blur(5px);
	}

	>.trashIcon,
	>.plusCloud {
		position: absolute;
		top: 55%;
		left: 50%;
		transform: translate(-50%, -50%);

		@include transition-normal;
	}

	.trashIcon {
		color: $neutral-50;
		filter: drop-shadow(0px 0px 40px $neutral-950);
		opacity: 0;
	}

	.trashIconVisible {
		opacity: 1;
	}

	.plusCloud {
		color: $neutral-700;
	}

	&:active {
		transform: scale(0.95);
	}
}

.title {
	text-decoration: none;
	background: none;
	border: none;
	cursor: pointer;

	color: $neutral-950;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;

	&:active~.folderButton {
		transform: scale(0.95);
	}
}

.deleteModal {
	display: flex;
	flex-direction: column;
	gap: 20px;

	background-color: $neutral-50;
	border-radius: 20px;
	box-shadow: 4px 4px 15px 0px rgba($neutral-950, 0.15);
	padding: 36px;
	max-width: 440px;

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		h3 {
			color: $neutral-900;
			font-size: 22px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
		}

		.closeButton {
			background: none;
			border: none;
			cursor: pointer;

			color: $neutral-700;

			&:hover {
				color: $neutral-900;
			}
		}
	}

	.description {
		color: $neutral-800;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 150%;
	}

	.deleteButton {
		outline: none;
		border: none;
		cursor: pointer;

		padding: 8px 16px;
		border-radius: 10px;

		color: $neutral-50;

		display: flex;
		justify-content: space-between;
		align-items: center;

		background-color: $error-700;
		@include transition-normal;

		&:hover {
			opacity: 0.9
		}

		&:active {
			opacity: 0.9;
			transform: scale(0.95);
		}

		.label {
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 150%;
		}
	}
}