@use '@/app/system.scss' as *;

.page {
	@include grid-background;

	min-height: 100vh;
	padding: 64px 72px;

	display: flex;
	justify-content: center;
}

.container {
	display: inline-block;
}

.header {
	display: flex;
	flex-direction: column;
	gap: 12px;
	margin-bottom: 48px;

	.logoContainer {
		display: flex;
		align-items: center;
		padding: 10px;
		gap: 12px;
		text-decoration: none;

		>h1 {
			color: $neutral-900;
			font-size: 27px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
		}
	}

	.headerBottom {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width: 768px) {
			flex-direction: column;
			align-items: flex-start;
			gap: 12px;
		}

		>h1 {
			color: $neutral-900;
			font-size: 36px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;

			@media (max-width: 768px) {
				font-size: 32px;
			}
		}

		>button {
			padding: 8px 12px;
			border-radius: 5px;
			display: flex;
			align-items: center;
			gap: 10px;
			border: none;
			outline: none;
			cursor: pointer;

			@include transition-normal;
			opacity: 1;

			.icon {
				display: flex;
				flex-shrink: 0;
			}

			.text {
				font-size: 18px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;

				@media (max-width: 768px) {
					font-size: 16px;
				}
			}

			&:active {
				transform: scale(0.95);
			}

			&.edit {
				background-color: $neutral-700;

				.icon {
					color: $neutral-500;
				}

				.text {
					color: $neutral-50;
				}

				&:hover {
					background-color: $neutral-800;
				}
			}

			&.editing {
				background-color: $neutral-400;

				.icon {
					color: $neutral-700;
				}

				.text {
					color: $neutral-600;
				}

				&:hover {
					opacity: 0.8;
				}
			}
		}
	}
}

.foldersGrid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 40px;
	row-gap: 48px;

	@media (max-width: 1100px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (max-width: 768px) {
		grid-template-columns: repeat(1, 1fr);
	}
}

.logoutButtonContainer {
	margin-top: 80px;
	display: flex;
	justify-content: center;
}

.logoutButton {
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	border-radius: 6px;
	padding: 8px 12px;
	outline: none;
	cursor: pointer;
	border: 1px solid rgba($neutral-700, 0.1);
	@include transition-normal;

	color: $neutral-600;
	background: $neutral-300;

	&:hover {
		background: $neutral-400;
	}

	&:active {
		background: $neutral-500;
		transform: scale(0.98);
	}
}