@use '@/app/system.scss' as *;

.heading {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 12px;
	gap: 12px;

	.logoContainer {
		display: flex;
		align-items: center;
		gap: 12px;

		h1 {
			color: $neutral-900;
			font-size: 95px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
		}
	}

	.subtitle {
		text-align: center;
		color: $neutral-800;
		font-size: 26px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	@media screen and (max-width: 1000px) {
		.logoContainer {
			.logo {
				width: 76px;
				height: 76px;
			}

			h1 {
				font-size: 72px;
			}
		}

		.subtitle {
			font-size: 20px;
		}
	}

	@media screen and (max-width: 500px) {
		.logoContainer {
			.logo {
				width: 48px;
				height: 48px;
			}

			h1 {
				font-size: 48px;
			}
		}

		.subtitle {
			font-size: 18px;
		}
	}
}

.heroContainer {
	flex-grow: 1;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;

	.heroImage {
		height: 50vh;
		width: auto;

		@include no-drag;

		@media screen and (max-width: 1000px) {
			height: calc(100dvh - 450px);
		}

		@media screen and (max-width: 500px) {
			display: flex;
			flex-grow: 1;
		}
	}
}

.cta {
	background-color: $neutral-50;
	border-radius: 100px;
	box-shadow: -4px 4px 20px 0px rgba($neutral-900, 0.1);
	padding: 10px 16px 10px 24px;
	display: flex;
	align-items: center;
	gap: 16px;
	@include transition-normal;

	&.disabled {
		background-color: $neutral-300;
	}

	>input {
		width: 320px;
		background-color: transparent;
		border: none;
		outline: none;

		color: $neutral-800;
		font-size: 20px;
		font-style: normal;
		font-weight: 500;
		line-height: 150%;
		letter-spacing: -0.25px;

		&::placeholder {
			color: $neutral-500;
		}
	}

	>button {
		cursor: pointer;
		border: none;
		outline: none;

		width: 36px;
		height: 36px;
		background-color: $primary-700;
		box-shadow: 0px 0px 20px 0px $primary-500;
		border-radius: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $neutral-50;
		@include transition-normal;

		&:hover {
			opacity: 0.9;
		}

		&:active {
			opacity: 0.8;
			transform: scale(0.95);
		}

		&:disabled {
			background-color: $neutral-500;
			opacity: 1;
			cursor: not-allowed;
			transform: none;
		}
	}

	@media screen and (max-width: 1000px) {
		padding: 8px 14px 8px 20px;

		>input {
			font-size: 18px;
			width: 300px;
		}

		>button {
			width: 32px;
			height: 32px;
		}
	}

	@media screen and (max-width: 500px) {
		// padding: 8px 12px 8px 16px;

		>input {
			font-size: 16px;
			width: calc(100vw - 140px);
			max-width: 280px;
		}

		>button {
			width: 30px;
			height: 30px;
		}
	}
}