@use '@/app/system.scss' as *;

.heading {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	margin-bottom: 12px;

	.logoContainer {
		display: flex;
		align-items: center;
		gap: 12px;

		h1 {
			color: $neutral-900;
			font-size: 95px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
		}
	}

	.subtitle {
		color: $neutral-800;
		font-size: 26px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
}

.heroContainer {
	flex-grow: 1;
	width: 100%;
	display: flex;
	justify-content: center;
	overflow-x: hidden;

	>img {
		@include no-drag;
	}
}

.cta {
	background-color: $neutral-50;
	border-radius: 100px;
	box-shadow: -4px 4px 20px 0px rgba($neutral-900, 0.1);
	padding: 10px 16px 10px 24px;
	display: flex;
	align-items: center;
	gap: 16px;

	>input {
		width: 320px;
		background-color: transparent;
		border: none;
		outline: none;

		color: $neutral-800;
		font-size: 20px;
		font-style: normal;
		font-weight: 500;
		line-height: 150%;
		letter-spacing: -0.25px;

		&::placeholder {
			color: $neutral-500;
		}
	}

	>button {
		cursor: pointer;
		border: none;
		outline: none;

		width: 36px;
		height: 36px;
		background-color: $primary-700;
		box-shadow: 0px 0px 20px 0px $primary-500;
		border-radius: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $neutral-50;
		@include transition-normal;

		&:hover {
			opacity: 0.9;
		}

		&:active {
			opacity: 0.8;
			transform: scale(0.95);
		}
	}
}