@use '@/app/system.scss' as *;

.page {
	@include grid-background;

	min-height: 100dvh;
	padding: 48px 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container {
	width: 100%;
	max-width: 600px;
	display: flex;
	flex-direction: column;
	gap: 36px;
}

.logoContainer {
	text-decoration: none;
	display: flex;
	align-items: center;
	gap: 8px;

	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;

	h2 {
		color: $neutral-900;
		font-size: 28px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}

	@media screen and (max-width: 450px) {
		gap: 6px;

		.logo {
			width: 30px;
			height: 30px;
		}

		h2 {
			font-size: 24px;
		}
	}
}

.header {
	display: flex;
	align-items: center;
	gap: 20px;

	.back {
		background: none;
		border: none;
		outline: none;
		cursor: pointer;

		color: $neutral-600;

		@include transition-normal;

		&:hover {
			transform: translateX(-2px);
		}
	}

	h1 {
		color: $neutral-950;
		font-size: 32px;
		font-style: normal;
		font-weight: 400;
		line-height: 115%;

		b {
			font-weight: 700;
		}

		@media screen and (max-width: 450px) {
			font-size: 28px;
		}
	}
}

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;

	.createdStatus {
		display: flex;
		align-items: center;
		gap: 18px;

		color: $neutral-950;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;

		.goodStatus {
			background-color: $success-500;
			border: 2px solid $success-700;
		}

		.mediumStatus {
			background-color: $warning-500;
			border: 2px solid $warning-700;
		}

		.badStatus {
			background-color: $error-500;
			border: 2px solid $error-700;
		}

		.goodStatus,
		.mediumStatus,
		.badStatus {
			width: 12px;
			height: 12px;
			border-radius: 5px;
		}
	}

	.previewLink,
	.copyShareLink {
		text-decoration: none;
		display: block;
		border: none;
		cursor: pointer;

		display: flex;
		justify-content: center;
		align-items: center;
		gap: 8px;

		width: 100%;
		padding: 8px;
		border-radius: 6px;

		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;

		@include transition-normal;

		&:hover {
			opacity: 0.8
		}

		&:active {
			opacity: 0.8;
			transform: scale(0.95);
		}
	}

	.previewLink {
		color: $neutral-600;
		background: $neutral-300;
	}

	.copyShareLink {
		background-color: $primary-700;
		color: $neutral-50;
	}
}