@use '@/app/system.scss' as *;

.container {
	position: relative;
}

.calendarButton {
	display: block;
	border: none;
	outline: none;
	background-color: rgba($neutral-700, 0.1);
	border-radius: 11px;
	cursor: pointer;
	color: $neutral-500;

	@include transition-normal;

	&:hover {
		color: $neutral-700;
		background-color: rgba($neutral-700, 0.2);
	}
}

.calendar {
	z-index: 100;
	width: 360px;
	position: absolute;
	top: 45px;
	right: 0;
	border-radius: 28px;
	background-color: $paper;
	display: flex;
	flex-direction: column;
	box-shadow: 4px 4px 15px 0px rgba($neutral-950, 0.1);
	padding-bottom: 12px;

	.header {
		padding: 24px 24px 12px 24px;
		display: flex;
		flex-direction: column;
		gap: 4px;

		.subtitle {
			color: $neutral-500;
			font-family: Figtree;
			font-size: 14px;
			font-style: normal;
			font-weight: 700;
			line-height: 20px;
			letter-spacing: 0.1px;
		}

		.titleDate {
			color: $neutral-950;
			font-family: Figtree;
			font-size: 32px;
			font-style: normal;
			font-weight: 400;
			line-height: 40px;
		}
	}

	.navigator {
		padding: 4px 12px 4px 16px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.toggleNavigationButton {
			height: 40px;
			display: flex;
			align-items: center;
			gap: 4px;

			padding: 0 4px 0 8px;
			color: $neutral-900;
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: 20px;
			letter-spacing: 0.1px;

			border: none;
			outline: none;
			background-color: inherit;
			cursor: pointer;
			border-radius: 6px;

			&:hover {
				background-color: rgba($neutral-700, 0.1);
			}
		}

		.navigationButtons {
			display: flex;

			.navigationButton {
				width: 40px;
				height: 40px;
				color: $neutral-900;

				border: none;
				outline: none;
				background-color: inherit;
				cursor: pointer;
				border-radius: 6px;

				&:hover {
					background-color: rgba($neutral-700, 0.1);
				}
			}
		}
	}

	.calendarGrid {
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		gap: 4px;
		padding: 0 12px;
		color: $neutral-950;
		text-align: center;

		>* {
			height: 44px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.emptyDay,
		.day {
			border: none;
			outline: none;
			background-color: inherit;
		}

		.day {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 40px;
			height: 40px;
			cursor: pointer;
			border-radius: 100px;

			&:hover {
				background-color: rgba($neutral-700, 0.1);
			}

			&.focused {
				background-color: $neutral-900;
				color: $neutral-50;
			}
		}
	}
}