@use '@/app/system.scss' as *;

.container {
	display: flex;
	flex-direction: column;
	max-height: calc(100vh - 96px);
	background-color: $neutral-50;
	border: 1px solid $neutral-300;
	box-shadow: 4px 4px 20px 0px rgba($neutral-950, 0.05);
	border-radius: 12px;
}

.divider {
	height: 1px;
	width: 100%;
	background-color: $neutral-300;
}

.header {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 24px;

	.backButton {
		display: block;
		text-decoration: none;
		font-family: Figtree;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;

		display: flex;
		align-items: center;
		gap: 4px;

		color: $neutral-500;
		@include transition-normal;

		&:hover {
			color: $neutral-700;
		}
	}

	.title {
		font-size: 36px;
		font-style: normal;
		font-weight: 400;
		line-height: 1.15;
		color: $neutral-950;

		&>b {
			font-weight: 700;
		}
	}

}

.entries {
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding: 24px;
	flex-grow: 1;
	overflow-y: auto;
	@include simple-scrollbar;

	.entriesHeader {
		&>h4 {
			color: $neutral-500;
			font-size: 16px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
		}
	}

	.entry {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border: none;
		width: 100%;
		text-align: left;
		background-color: transparent;

		color: $neutral-800;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		cursor: pointer;
		padding: 8px 8px;
		margin: -8px -8px;
		border-radius: 6px;

		@include transition-normal;

		&>.deleteButton {
			border: none;
			outline: none;
			background: none;
			cursor: pointer;

			@include transition-normal;
			color: $neutral-500;
			opacity: 0;

			&:hover {
				color: $neutral-700;
			}
		}

		&.focused {
			background-color: $neutral-300;
		}

		&:hover {
			background-color: $neutral-300;

			&>.deleteButton {
				opacity: 1;
			}
		}
	}

	.addNewEntry {
		display: block;
		border: none;
		background-color: transparent;
		text-align: left;
		cursor: pointer;

		color: $neutral-600;
		font-size: 18px;
		font-style: italic;
		font-weight: 400;
		line-height: normal;

		&:hover {
			color: $neutral-700;
			font-weight: 500;
		}
	}
}

.footer {
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 18px 24px;

	.createdStatus {
		display: flex;
		align-items: center;
		gap: 18px;

		color: $neutral-950;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;

		.goodStatus {
			background-color: $success-500;
			border: 2px solid $success-700;
		}

		.mediumStatus {
			background-color: $warning-500;
			border: 2px solid $warning-700;
		}

		.badStatus {
			background-color: $error-500;
			border: 2px solid $error-700;
		}

		.goodStatus,
		.mediumStatus,
		.badStatus {
			width: 12px;
			height: 12px;
			border-radius: 5px;
		}
	}

	.copyShareLink {
		display: block;
		border: none;
		cursor: pointer;

		width: 100%;
		padding: 8px;
		border-radius: 6px;
		background-color: $neutral-700;

		color: $neutral-50;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;

		@include transition-normal;

		&:hover {
			background-color: $neutral-800;
		}

		&:active {
			background-color: $neutral-800;
			transform: scale(0.95);
			box-shadow: 4px 4px 20px 0px rgba($neutral-950, 0.1);
		}
	}
}