@use '@/app/system.scss' as *;

.page {
	@include grid-background;

	height: 100vh;

	display: grid;
	grid-template-columns: min(400px, 35vw) 1fr;
	padding: 48px 0 48px 48px;
	gap: 48px;

	@media (max-width: 1200px) {
		padding: 24px 0 24px 24px;
		gap: 24px;
	}
}

.content {
	padding: 36px;
	display: flex;
	flex-direction: column;
	gap: 24px;
	background-color: $neutral-50;
	border-radius: 20px 0 0 20px;
	background-color: $neutral-50;
	border: 1px solid $neutral-300;
	box-shadow: 4px 4px 20px 0px rgba($neutral-950, 0.05);

	@media (max-width: 1200px) {
		padding: 24px;
	}

	.title {
		width: 100%;
		display: flex;
		align-items: center;
		gap: 12px;
		border-radius: 12px;
		border: 1px solid rgba($neutral-700, 0.1);
		padding-right: 24px;
		box-shadow: 2px 2px 15px 0px rgba($neutral-950, 0.07);

		.titleInput {
			width: 100%;
			color: $neutral-700;
			font-size: 22px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			background: $neutral-50;
			border: none;
			outline: none;
			border-radius: 12px 0 0 12px;

			padding: 24px;

			&::placeholder {
				color: $neutral-400;
			}
		}
	}

	.textAreaContainer {
		flex-grow: 1;
		position: relative;
		width: 100%;

		.textAreaLength {
			position: absolute;
			bottom: 24px;
			right: 24px;

			color: $neutral-400;
			font-size: 16px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;

			@include transition-normal;

			&.warningLength {
				color: $warning-700;
			}

			&.errorLength {
				color: $error-700;
				font-weight: 800;
			}
		}

		.textArea {
			padding: 24px;
			border: 0;
			outline: 0;
			width: 100%;
			height: 100%;
			resize: none;

			color: $neutral-600;
			font-size: 18px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			background: $neutral-50;
			outline: none;
			border-radius: 12px;
			border: 1px solid rgba($neutral-700, 0.1);
			padding-right: 24px;
			box-shadow: 2px 2px 15px 0px rgba($neutral-950, 0.07);

			padding: 24px;

			&::placeholder {
				color: $neutral-400;
			}

			&:focus~.textAreaLength {
				color: $neutral-600;
			}
		}
	}
}