@use '@/app/system.scss' as *;

.page {
	@include paper-background;

	height: 100vh;

	display: grid;
	grid-template-columns: 400px 1fr;
	padding: 48px 0 48px 48px;
	gap: 48px;
}

.navigation {
	display: flex;
	flex-direction: column;
	max-height: calc(100vh - 96px);
	background-color: $neutral-50;
	border: 1px solid $neutral-300;
	box-shadow: 4px 4px 20px 0px rgba($neutral-950, 0.05);
	border-radius: 12px;

	.divider {
		height: 1px;
		width: 100%;
		background-color: $neutral-300;
	}

	.header {
		display: flex;
		flex-direction: column;
		gap: 10px;
		padding: 24px;

		.backButton {
			display: block;
			text-decoration: none;
			font-family: Figtree;
			font-size: 18px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;

			display: flex;
			align-items: center;
			gap: 4px;

			color: $neutral-500;
			transition: color 0.1s ease-in-out;

			&:hover {
				color: $neutral-700;
			}
		}

		.title {
			font-size: 48px;
			font-style: normal;
			font-weight: 400;
			line-height: 1.15;
			color: $neutral-950;

			&>b {
				font-weight: 700;
			}
		}

	}

	.entries {
		display: flex;
		flex-direction: column;
		gap: 24px;
		padding: 24px;
		flex-grow: 1;
		overflow-y: auto;

		.entriesHeader {
			&>h4 {
				color: $neutral-500;
				font-size: 18px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
			}
		}

		.entry {
			display: flex;
			align-items: center;
			justify-content: space-between;
			border: none;
			width: 100%;
			text-align: left;
			background-color: transparent;

			color: $neutral-800;
			font-size: 20px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			cursor: pointer;
			padding: 8px 8px;
			margin: -8px -8px;
			border-radius: 6px;

			transition: background-color 0.2s ease-in-out;

			&>.deleteButton {
				border: none;
				outline: none;
				background: none;
				cursor: pointer;

				transition: opacity 0.3s ease-in-out, color 0.2s ease-in-out;
				color: $neutral-500;
				opacity: 0;

				&:hover {
					color: $neutral-700;
				}
			}

			&:hover {
				background-color: $neutral-300;

				&>.deleteButton {
					opacity: 1;
				}
			}

		}

		.addNewEntry {
			display: block;
			border: none;
			background-color: transparent;
			text-align: left;
			cursor: pointer;

			color: $neutral-600;
			font-size: 18px;
			font-style: italic;
			font-weight: 400;
			line-height: normal;

			&:hover {
				color: $neutral-700;
			}
		}
	}

	.footer {
		display: flex;
		flex-direction: column;
		gap: 12px;
		padding: 18px 24px;

		.createdStatus {
			display: flex;
			align-items: center;
			gap: 18px;

			color: $neutral-950;
			font-size: 18px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;

			.goodStatus {
				background-color: $success-500;
				border: 2px solid $success-700;
			}

			.mediumStatus {
				background-color: $warning-500;
				border: 2px solid $warning-700;
			}

			.badStatus {
				background-color: $error-500;
				border: 2px solid $error-700;
			}

			.goodStatus,
			.mediumStatus,
			.badStatus {
				width: 12px;
				height: 12px;
				border-radius: 5px;
			}
		}

		.copyShareLink {
			display: block;
			border: none;
			cursor: pointer;

			width: 100%;
			padding: 8px;
			border-radius: 6px;
			background-color: $neutral-700;

			color: $neutral-50;
			font-size: 18px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;

			transition: background-color 0.3s ease-out, box-shadow 0.3s ease-out;

			&:active {
				background-color: $neutral-800;
				box-shadow: 4px 4px 20px 0px rgba($neutral-950, 0.1);
			}
		}
	}
}

.content {
	padding: 36px;
	display: flex;
	flex-direction: column;
	gap: 24px;
	background-color: $neutral-50;
	border-radius: 20px 0 0 20px;
	background-color: $neutral-50;
	border: 1px solid $neutral-300;
	box-shadow: 4px 4px 20px 0px rgba($neutral-950, 0.05);

	.title {
		width: 100%;
		display: flex;
		align-items: center;
		gap: 12px;
		border-radius: 12px;
		border: 1px solid rgba($neutral-700, 0.1);
		padding-right: 24px;
		box-shadow: 2px 2px 15px 0px rgba($neutral-950, 0.07);

		.titleInput {
			width: 100%;
			color: $neutral-600;
			font-size: 32px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			background: $neutral-50;
			border: none;
			outline: none;
			border-radius: 12px 0 0 12px;

			padding: 24px;

			&::placeholder {
				color: $neutral-400;
			}
		}

		.calendarButton {
			display: block;
			border: none;
			background-color: rgba($neutral-700, 0.1);
			border-radius: 11px;
			cursor: pointer;

			color: $neutral-500;
		}
	}

	.textAreaContainer {
		flex-grow: 1;
		position: relative;
		width: 100%;

		.textArea {
			padding: 24px;
			border: 0;
			outline: 0;
			width: 100%;
			height: 100%;
			resize: none;

			color: $neutral-500;
			font-size: 24px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			background: $neutral-50;
			outline: none;
			border-radius: 12px;
			border: 1px solid rgba($neutral-700, 0.1);
			padding-right: 24px;
			box-shadow: 2px 2px 15px 0px rgba($neutral-950, 0.07);

			padding: 24px;

			&::placeholder {
				color: $neutral-400;
			}
		}

		.textAreaLength {
			position: absolute;
			bottom: 24px;
			right: 24px;

			color: $neutral-400;
			font-size: 18px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
		}
	}
}