.container {
	display: grid;
	grid-template-columns: 400px 1fr;
}

.entry {
	display: block;
	width: 100%;
	text-align: left;
	background-color: transparent;
}

.focused {
	background-color: #ababab;
}