@use '@/app/system.scss' as *;

.textAreaContainer {
	position: relative;
}

.textArea {
	width: 100%;
	resize: none;
}

.textAreaLength {
	position: absolute;
	bottom: 24px;
	right: 24px;

	color: $neutral-400;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}